body {
  margin-bottom: 100px !important;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url("./img/abstract.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 135vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 50px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.form-container {
  background-color: white;
  color: black;
  padding: 8px;
  height: 100%;
  padding-top: 10px;
  border-radius: 10px;
  padding-left: 15px;
  padding-right: 15px;
}

.register {
  padding-bottom: 20px;
}
.login {
  padding-bottom: 20px;
}
.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.heading {
  font-size: 22px;
}
